* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lexend", sans-serif;
}

:root {
  --white: #fff;
  --bg-black: #000;

  --size-sm: 4px;
  --size-md: 8px;
  --size-lg: 16px;
  --size-xl: 24px;
  --size-2xl: 48px;
  --size-3xl: 64px;
}

main {
  display: flex;
  max-width: 1040px;
  margin: 0 auto;
  flex-direction: column;
  padding: var(--size-xl);
  gap: var(--size-xl);
}

h3 {
  font-size: 24px;
  font-weight: 500;
}

h4 {
  font-size: 20px;
  font-weight: 400;
}

h5 {
  font-size: 18px;
  font-weight: 400;
}

h6 {
  font-size: 14px;
  font-weight: 400;
}

.image-small {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.image-large {
  width: 300px;
  height: 300px;
  border-radius: var(--size-lg);
}

/* Top Section */

.top {
  display: flex;
  align-items: stretch;
  gap: var(--size-xl);
  flex-direction: row;
}

.user-container {
  display: flex;
  gap: var(--size-xl);
  align-items: center;
  flex-direction: row;
}

.first,
.second {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.top .first {
  flex: 1;
  gap: var(--size-lg);
  display: flex;
  flex-direction: column;
}

.top .first .testimonial-card {
  flex: 1;
  position: relative;
  padding: var(--size-lg);
  color: var(--white);
  border-radius: var(--size-lg);
  background-color: var(--bg-black);
}

.top .first .testimonial-card::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 40px;
  width: 0;
  height: 0;

  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid var(--bg-black);
}

.top .first .user-info {
  display: flex;
  gap: var(--size-md);
  flex-direction: column;
}

.top .second .testimonial-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--size-lg);
  border-radius: var(--size-lg);
  border: 1px solid var(--bg-black);
}

.top .second .testimonial-card .user-container .user-info {
  display: flex;
  gap: var(--size-sm);
  flex-direction: column;
}

/* Middle Section */

.middle {
  display: flex;
  gap: var(--size-xl);
  flex-direction: row;
}

.star {
  color: yellow;
  margin-right: -5px;
}

.middle .card {
  width: 100%;
  border-radius: var(--size-lg);
  padding: var(--size-2xl);
  color: var(--white);
  background-color: var(--bg-black);
}

/* Bottom Section */

.bottom {
  display: flex;
  gap: 48px;
  flex-direction: column;
  align-items: center;
  padding: var(--size-2xl) var(--size-3xl);
  border-radius: var(--size-lg);
  border: 1px solid var(--bg-black);
}

.bottom .avatar {
  width: 40px;
  height: 40px;
  opacity: 50%;
  border-radius: 50%;
}

.bottom .avatar-middle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.bottom .user-container {
  display: flex;
  gap: var(--size-xl);
  flex-direction: column;
  align-items: center;
}

.bottom .user-caroussel {
  display: flex;
  gap: var(--size-xl);
  align-items: center;
  flex-direction: row;
}

.bottom .user-caroussel .caroussel-images {
  display: flex;
  gap: var(--size-lg);
  align-items: center;
  flex-direction: row;
}
